@import 'tailwindcss';
:root{
  --main-color-blue: #1B2133;
}
@font-face {
  font-family: 'Qanelas-black';
  font-style: normal;
  src: url('./assets/font/QanelasBlack.woff') format('woff');
}
@font-face {
  font-family: 'Qanelas-bold';
  font-style: normal;
  src: url('./assets/font/QanelasBold.woff') format('woff');
}
@font-face {
  font-family: 'Qanelas-medium';
  font-style: normal;
  src: url('./assets/font/QanelasMedium.woff') format('woff');
}
@font-face {
  font-family: 'Qanelas-regular';
  font-style: normal;
  src: url('./assets/font/QanelasRegular.woff') format('woff');
}
@font-face {
  font-family: 'Qanelas-semi-bold';
  font-style: normal;
  src: url('./assets/font/QanelasSemiBold.woff') format('woff');
}
@theme {
  --font-black-Qanelas: "Qanelas-black", "sans-serif"; 
  --font-bold-Qanelas: "Qanelas-bold", "sans-serif"; 
  --font-medium-Qanelas: "Qanelas-medium", "sans-serif"; 
  --font-regular-Qanelas: "Qanelas-regular", "sans-serif"; 
  --font-semi-bold-Qanelas: "Qanelas-semi-bold", "sans-serif";
  --color-vivid-blue: #3657CB;
  --color-space-blue: #1E2538;
  --color-void-blue: #151A26;
  --color-neon-yellow: #F2F60F;
  --color-royal-blue: #3657CB;
  --color-dark-navy:#191E2E;


}
*,*::before,*::after {
  box-sizing: border-box;
}
a, a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
aside, nav, footer, header, section, main {
  display: block;
}
ul, ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
img, svg {
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
input::-ms-clear {
  display: none;
}
button{
  cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
label {
  cursor: pointer;
}
legend {
  display: block;
}
input[type='file'] {
  max-width: 100%;
}
html,body{
  height: 100%;
}
body{
  background-color: var(--main-color-blue);
}
#root {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container{
  max-width: 1447px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.filter_h4{
  @apply font-black-Qanelas text-[25px] text-white;
}
.filter{
  @apply flex flex-col gap-[22px] justify-between;
  input{ 
    @apply bg-space-blue text-[#FFFFFF99] font-medium-Qanelas text-[17px];
  }
}
.filter__select{
  @apply bg-space-blue text-[#FFFFFF99] font-medium-Qanelas text-[17px] w-full py-[22px] px-2 rounded-[10px];
}
.custom-range::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #3b82f6;
  cursor: pointer;
}